body {
    height: 100vh;
}

.container-fluid {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
}

.button-bar {
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
}

.logo-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nav-button {
    margin-left: 10px;
    margin-top: 10px;
    background: black;
    color: white;
    border: black;
}

.float-right {
    float: right;
}

.pad-right {
    margin-right: 10px;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 8;
    background-size: cover;
    background-position: center;
    background-image: url('https://hd.unsplash.com/photo-1445364502257-00c4ddb9b18d');
    position: relative;
}

.main-content {
    font-size: 1.5em;
    width: 60%;
    margin-top: 150px;
    text-align: center;
    position: relative;
}

.result-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.vote-survey-content {
    font-size: 1.5em;
    color: white;
    width: 40%;
    margin-top: 150px;
    position: relative;
    text-align: center;
}

.about-content {
    margin-top: 150px;
    text-align: center;
    color: white;
}

.vote-survey p {
    font-size: 1.5em;
    margin-top: 5px;
}

.arrow {
    position: absolute;
    left: 80px;
    top: 220px;
    font-size: 5em;
    color: white;
}

.arrow:hover {
    color: black;
    cursor: pointer;
}

.main-content p {
    color: white;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 35px;
}

.error-message {
    font-size: 1em;
    color: red;
}

.main-button {
    margin-top: 40px;
    border: black;
}

.main-button:hover {
    background: black;
    color: white;
}

.food-result {
    width: 300px;
    font-size: 1em;
}

.food-image {
    height: 300px;
    width: 300px;
}

.vote-confirm {
    color: white;
}

.input-bar {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
}
